In [2]:
import pandas as pd

**Compare strungth of DeepMCTS to MCTS+rollout at various range of simulations**

Experiments: 2, 5

In [3]:
dfs = []
dfs.append(pd.read_csv("../exp_results/experiment2_1642384291.9689753-1642473222.2862575.csv", skiprows=[0,1])) #, index_col=[0,1])
dfs.append(pd.read_csv("../exp_results/experiment5_1643613133.8716695-1643693789.973808.csv", skiprows=[0,1])) #, index_col=[0,1])
# remove oversampling from data
dfs[-1] = dfs[-1][dfs[-1].bmcts_sim > 2500]
df = pd.concat(dfs)
df = df.set_index(['dmcts_sim', 'bmcts_sim', 'match'])
df.columns = ['p0fp_p0win', 'p0fp_p1win', 'p1fp_p0win', 'p1fp_p1win']
df
players = ['DMCTS', 'BMCTS']
index = pd.MultiIndex.from_product([players, players], names=['first_player', 'winner'])
df.columns = index
df.groupby(['dmcts_sim', 'bmcts_sim']).sum()

first_player        DMCTS       BMCTS
winner              DMCTS BMCTS DMCTS BMCTS
dmcts_sim bmcts_sim
100       100         499     1   486    14
          200         493     7   442    58
          300         482    18   397   103
          400         462    38   386   114
          500         453    47   371   129
          1000        400   100   288   212
          1500        384   116   209   291
          2000        375   125   227   273
          2500        366   134   183   317
          3000        371   129   183   317
          3500        346   154   201   299

In [ ]:
dfp = df.groupby(['dmcts_sim', 'bmcts_sim']).sum()
dfp = dfp.reset_index()
dfp.drop('dmcts_sim', axis=1, inplace=True)
dfp = dfp.set_index(['bmcts_sim'])
#dfp

dfp.plot.line(figsize=(12,6))

**Evaluate performance of DeepMCTS on larger boards than the 25 node board it was trained on**

The DeepMCTS agent is run against the MCTS+rollout agent. For each board size, *match_n* matches are played.

Experiment: 4

In [12]:
df = pd.read_csv("../exp_results/experiment4_1642389671.3168697-1642584716.197636.csv", skiprows=[0,1])
df = df.set_index(['board_size', 'bmcts_sim', 'match'])
df.columns = ['p0fp_p0win', 'p0fp_p1win', 'p1fp_p0win', 'p1fp_p1win']
players = ['DMCTS', 'BMCTS']
index = pd.MultiIndex.from_product([players, players], names=['first_player', 'winner'])
df.columns = index
df = df.groupby(['board_size', 'bmcts_sim']).sum()
df

first_player         DMCTS       BMCTS
winner               DMCTS BMCTS DMCTS BMCTS
board_size bmcts_sim
Vortex_5   250          98     2    89    11
           500          93     7    84    16
           750          95     5    64    36
           1000         87    13    59    41
Vortex_6   250         100     0    94     6
           500          85    15    81    19
           750          79    21    66    34
           1000         78    22    59    41
Vortex_7   250          99     1    97     3
           500          96     4    85    15
           750          82    18    65    35
           1000         77    23    57    43
Vortex_8   250         100     0   100     0
           500          97     3    88    12
           750          90    10    81    19
           1000         73    27    65    35
Vortex_9   250         100     0   100     0
           500          99     1    98     2
           750          94     6    94     6
           1000         85    15    83    17

**Compare Curriculum Trained network with network trained from scratch at 9x9**